/* font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Abril Fatface', cursive; */

.head {
    background-image: url(../img/profile_1.jpg);
}


/* ------EXPERIENCE----- */

.experience {}

#carouselExperience .col {
    padding: 2em;
    text-align: center;
}